@model FinalProject.Models.ToDo
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Form containing input and submission of new tasks-->
<form action="ToDo/Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <input name="text" type="text" class="form-control col-10" id="newToDo" placeholder="Got something to do..?" />
        <input type="submit" class="btn btn-primary col-2" value="Pin it!" />
    </div>
</form>

<div class="form-group row">

    <!--Loops through list of tasks (stored as List<String>) stored in the Model and renders to the page. The list is populated with tasks for display testing.-->
    @{ for (int i = 0; i < Model.ToDos.Count; i++)
        {
            <input class="col-2" type="checkbox" id="cbox3" value="third_checkbox">
            <label class="col-8" for="cbox3">@Model.ToDos[i]</label><br>
            <input type="button" class="btn btn-primary col-2" value="Delete!" />
        }
    }

</div>
